<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Geocoder</title>
</head>
<body>
    <div>
        <h1>Super Geocoder</h1>
        <p>Please upload your CSV file. The values cotaining addresses should be in a column named address or Address</p>
    </div>
    <div class="form-div">
        <form method="POST" action="download" enctype="multipart/form-data">
            <input type="file" name="file"><br>
            <input type="submit">
        </form>
        <div class="df">
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}

        {% block output %}
        {% endblock %}
        </div>
        
    </div>
    
</body>
</html>